{% extends "base.html" %}
{% block title %}Numbers Book{% endblock %}

{% block main %}
    <p>Each dream lead to numbers. Example: Your dream "Bếp lửa" gives numbers "20 - 25 - 54"</p>
    <form>
        <input type="text" class="form-control" placeholder="Your dream is ..." name="words">
    </form>
    <div><em>This just for fun. I have no responsibility for your choice</em></div>
    <br>
    <div>
        {% for result in results %}
        <li>Your dream "{{ result[0] }}" gives numbers "{{ result[1] }}"</li>
        {% endfor %}
    </div>
{% endblock %}

{% block script %} 
{% endblock %}

